@media(max-width:1200px) {

	.matters__text {

		margin: 0 auto 75px;
	}

	.how-to__title {
		font-size: 61px;
	}

	.reviews {

		padding: 30px 0;
	}

	.reviews__content {
		padding: 0 30px 0 0;
	}

	.reviews__text {
		font-size: 22px;
		line-height: 159%;
		margin-bottom: 30px;
	}

}

@media(max-width: 1000px) {
	.labels {
		display: none;
	}

	.about__video {
		height: 485px;
	}

	.about-slider__text {
		font-size: 28px;

	}

	.how-to__title {
		margin-bottom: 91px;
		// font-size: 61px;
		font-size: 55px;
	}

	.how-to__content {
		width: 55%;
	}

	.how-to__img-wrapper {
		width: 45%;

		left: 55%;
	}

	.how-to__text,
	.how-to__link {
		padding-left: 0;
		margin-left: 0;

	}

	.toothpaste__title {
		font-size: 55px;
		line-height: 112%;
	}

	.reviews-slider {

		// padding: 0 20px;
	}

	.reviews .slick-arrow {
		font-size: 0;
		width: 30px;
		height: 30px;

	}

}

@media(max-width: 900px) {
	.menu__list {
		position: fixed;
		top: 0;
		left: 0;
		border-radius: 10px;
		flex-direction: column;
		margin: 70px 0 0 15px;
		padding: 30px 20px 20px;
		background-color: rgba(#fff, .5);
		transform: translateX(-1000%);
		transition: all .5s cubic-bezier(.39, .58, .57, 1);
		z-index: 9;
	}

	.header {
		position: relative;

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(137, 159, 217);
			background: linear-gradient(225deg, rgba(137, 159, 217, 1) 0%, rgba(146, 193, 223, 1) 35%, rgba(197, 174, 194, 1) 100%);
			opacity: 0;
			visibility: hidden;
		}
	}

	.header.gradient {
		&::after {
			transition: all 2s cubic-bezier(0, .93, .71, .98);
			opacity: .7;
			visibility: visible;
		}
	}

	.menu__list.open {
		transform: translateX(0);
	}

	.menu__list-item {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.menu__btn-line {
		position: absolute;
		width: 26px;
		height: 4px;
		background-color: $blue;
		display: inline-block;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border-radius: 4px;
		transition: all .1s;
	}

	.menu__btn {
		position: relative;
		width: 32px;
		height: 20px;
		z-index: 10;
		cursor: pointer;

		&::after,
		&::before {
			position: absolute;
			content: '';
			height: 4px;
			right: 0;
			left: 0;
			background-color: $blue;
			border-radius: 4px;
		}

		&::after {
			top: 0;
		}

		&::before {
			bottom: 0;
			width: 22px;
		}
	}

	.menu__btn.open {
		&::after {
			transform: rotate(135deg) translate(6px, -5px);
			transition: $transition;
		}

		&::before {
			transform: rotate(-135deg) translate(6px, 5px);
			width: 32px;
			transition: $transition;
		}

		.menu__btn-line {
			opacity: 0;
			transform: rotate(35deg);
		}
	}

	.header__title {
		font-size: 50px;
		margin-bottom: 10px;
	}

	.header__text {
		font-size: 22px;
		margin-bottom: 20px;
		max-width: 448px;
	}

	.shop-slider__item-name {
		font-size: 18px;
	}

	.shop-slider__item-price {
		font-size: 12px;
	}

	.about__video {
		height: 405px;
	}

	.about__text {
		font-size: 22px;
		margin-bottom: 10px;
		text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
	}

	.matters__title {
		font-size: 50px;
		line-height: 108%;
	}

	.matters__text {
		font-size: 24px;
		line-height: 127%;
		max-width: 445px;
	}

	.matters__content {
		padding-bottom: 59px;
	}

	.matters__pill {

		&::after,
		&::before {

			width: 30px;
			height: 25px;
		}
	}

	.matters__bottle {
		&::before {

			width: 30px;
			height: 25px;

		}
	}

	.products__img-link {

		max-height: 450px;
	}

	.reviews__text {
		font-size: 22px;
		line-height: 155%;
		margin-bottom: 29px;

	}
}

@media(max-width: 768px) {
	.header__title {
		font-size: 35px;
	}

	.header__text {
		font-size: 18px;
		line-height: 130%;
		max-width: 380px;
	}

	.shop__inner {
		flex-direction: column;
	}

	.shop__content-text {
		max-width: none;
		font-size: 20px;
		margin: 0 auto 15px;

	}

	.shop__text {
		max-width: none;
		font-size: 20px;
		line-height: 148%;

	}

	.shop__descr {

		margin-bottom: 30px;
		font-size: 10px;
	}

	.shop__content {
		margin: 0 auto 20px;
	}

	.shop-slider {
		width: 100%;
	}

	.shop__inner {

		margin-bottom: 30px;
	}

	.about {
		padding: 50px 0;
	}

	.about__inner {

		display: flex;
		flex-direction: column;

	}

	.about__video {
		height: 350px;
	}

	.about__video-icon {

		width: 69px;
		height: 69px;
	}

	.about-slider__item {
		padding: 30px 0 60px;
	}

	.matters {

		margin-bottom: 0;

	}

	.matters__bottle,
	.matters__pill {

		transform: translateY(0);

		&::after,
		&::before {

			transform: translateY(0) rotate(0);
			background-attachment: fixed;
		}
	}

	.matters__bottle--3 {
		display: none;
	}

	.matters__bottle--2 {
		left: 75%;
		right: -15%;
		transform: rotateY(-180deg);
		background-size: cover;

		&::after {
			background-image: url(../images/bottle-shadow-1.png);
			top: 30px;
			z-index: -4;
		}

		img {

			max-width: 150px;
		}
	}

	.matters__text {
		max-width: none;
		padding: 0 60px;
	}

	.how-to__inner {

		flex-direction: column;
	}

	.how-to {
		padding: 50px 0 0;
		margin-bottom: 80px;
	}

	.how-to {
		text-align: center;
	}

	.how-to__content {
		width: 100%;
		margin-bottom: 40px;

	}

	.how-to__subtitle {
		margin-bottom: 30px;
	}

	.title {
		font-size: 50px;
	}

	.how-to__title {
		margin-bottom: 50px;
		line-height: 100%;
	}

	.how-to__text {
		margin: 0 auto;
		text-align: center;
		max-width: none;

	}

	.how-to__img-wrapper {
		position: static;
		width: 100%;
	}

	.how-to__img {
		height: 375px;
	}

	.products__img-link {

		max-height: 400px;
	}

	.products__items {
		grid-template-columns: repeat(2, minmax(250px, 430px));

	}

	.started {
		padding-bottom: 100px;
	}

	.toothpaste__items {
		grid-template-columns: repeat(2, minmax(200px, 300px));

	}

	.toothpaste__item--1 {
		grid-column: 1/3;
		max-width: 300px;
		margin: 0 auto;
		grid-gap: 30px;
	}

	.toothpaste {

		padding: 0px 0 40px;
		margin-bottom: -50px;
	}

	.toothpaste__img {
		object-fit: cover;
		width: 100%;
	}

	.reviews__inner {

		grid-template-columns: minmax(200px, 1fr);
	}

	.reviews__content {
		padding: 0;
		max-width: none;
		margin-bottom: 40px;
		text-align: center;
	}

	.reviews-slider,
	.reviews-slider__title {
		max-width: none;
	}

	.reviews-slider__content {
		max-width: none;
		margin: 0 auto;
	}

	.footer {

		padding: 30px 0;
	}

	.footer__list-title,
	.footer__list-link {
		font-size: 20px;
	}

	.footer__dropdown-link,
	.footer__dropdown-item--press,
	.footer__dropdown-text {
		font-size: 14px;
		margin-bottom: 0;
	}
}

@media(max-width: 550px) {
	.shop__content {
		margin: 0 auto 40px;
	}

	.about__video {
		height: 285px;
	}

	.about__text {
		display: none;
	}

	.about-slider__text {
		max-width: 300px;
		font-size: 21px;
	}

	.about-slider__item {
		padding: 30px 0;
	}

	.matters__text {
		margin: 0 auto 35px;
	}

	.matters__text {
		padding: 0;
	}

	.matters__bottle--2 {
		left: 90%;
		right: -23%;
	}

	.matters__bottle--1 {
		right: 91%;
	}

	.matters__pill--1::after {
		bottom: 251px;
	}

	.how-to__img {
		height: 275px;
	}

	.how-to__link {
		font-size: 22px;
	}

	.how-to__title {
		margin-bottom: 30px;
	}

	.title {
		font-size: 41px;
	}

	.products__img-link {

		max-height: 300px;
	}

	.products__items {
		grid-template-columns: minmax(250px, 300px);
		justify-content: center;
		margin-bottom: 40px;

	}

	.products__more {
		font-size: 18px;
	}

	.started__title {

		margin-bottom: 31px;
	}

	.started__content {

		transform: translateY(0);
	}

	.started__btn {
		font-size: 18px;
	}

	.toothpaste__items {
		grid-template-columns: minmax(200px, 300px);

	}

	.toothpaste__item--1 {
		grid-column: 1/2;
		max-width: 300px;
		margin: 0 auto;

	}

	.text {
		font-size: 16px;
	}

	.reviews__text {

		margin-bottom: 15px;
	}

	.reviews-slider__text {
		font-size: 16px;
		margin-bottom: 31px;
	}

	.reviews-slider__title {
		font-size: 14px;
	}

	.footer__items {
		grid-template-columns: 1fr;
	}

	.footer__list-title {
		padding-right: 20px;
		cursor: pointer;

		&::after {
			display: block;
		}
	}

	.footer__list-title-link {

		&::after {
			display: none;
		}
	}

	.footer__dropdown-list {
		display: none;
	}
}

@media(max-width:400px) {
	.logo__img {
		width: 50px;
	}

	.header__action-avatar {
		margin-left: 15px;
	}

	.shop-slider__img {

		max-height: 250px;
	}

	.shop__text {
		font-size: 16px;
		line-height: 130%;
	}

	.shop__content-btn {
		font-size: 17px;
	}

	.shop__inner-btn {

		font-size: 16px;
	}

	.shop-slider__item {

		&::after {
			display: none;
		}

	}

	.shop-slider__info {

		left: 0;
	}

	.btn-color {

		padding: 12px 30px;
	}

	.btn-white {
		padding: 10px 20px;
	}

	.subscription {
		background-size: 735px auto;
	}

	.subscription__content {
		padding: 296px 0 224px;
	}


	.title {
		font-size: 28px;
	}


	.how-to__link {
		font-size: 16px;
	}

}