@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{a}x(#{$numbers});
}

%roboto {
	font-family: "Roboto-Regular", serif;
}

%roboto-italic {
	font-family: "Roboto-italic", serif;
}

%content {
	position: absolute;
	content: '';
}

$text: #172345;
$blue: #5326D4;
$darkBlue:#4144BF;

$transition: all .2s;