@import "mixins";
@import "fonts";
@import "vars";
@import "libs";
@import "global";
@import "keyframes";


.header {
	background: url(../images/header.jpg) center bottom/ cover no-repeat;
	height: 100vh;

	&__top {
		display: grid;
		grid-template-columns: 1fr 70px 1fr;
		padding: 21px 0;
		align-items: center;
	}

	&__logo {
		margin: 0 auto;
	}

	&__actions {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	&__action-cart {
		svg {
			fill: #5326D4;
			transition: all .3s;
		}


		&:hover svg {
			fill: #fff;
		}
	}

	&__action-avatar {
		margin-left: 31px;

		svg {
			fill: #5326D4;
			transition: all .3s;
		}


		&:hover svg {
			fill: #fff;
		}
	}

	&__content {
		text-align: center;
		color: #fff;
		height: calc(100vh - 74px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 62px;
		line-height: 113%;
		text-align: center;
		letter-spacing: 4.38641px;
		margin-bottom: 21px;
	}

	&__text {
		font-size: 29px;
		line-height: 144%;
		max-width: 600px;
		margin: 0 auto 33px;

	}

	&__btn {
		font-size: 18px;
	}
}

.menu {
	&__list {
		display: flex;
	}

	&__list-item {
		margin-right: 41px;
	}

	&__list-link {
		font-size: 14px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $blue;
		@extend %roboto;
		transition: $transition;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}
	}
}

.labels {
	background-color: #DEE6F3;
	padding: 24px 0;

	&__items {
		display: grid;
		grid-template-columns: repeat(10, auto);
		grid-auto-flow: column;
		grid-column-gap: 10px;
		justify-content: space-between;
		text-align: center;
	}

	picture {
		margin: auto 0;
	}

}

.shop {
	padding-top: 31px;
	margin-bottom: 36px;
	text-align: center;

	&__text {
		max-width: 773px;
		margin: 0 auto 8px;
		font-size: 24px;
		line-height: 164%;
		letter-spacing: 1.31592px;
	}

	&__descr {
		font-size: 12px;
		line-height: 143%;
		letter-spacing: 2.08354px;
		text-transform: uppercase;
		margin-bottom: 73px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		@extend %roboto-italic;
		position: relative;
		padding-bottom: 35px;

		&::before,
		&::after {
			@extend %content;
			width: 100%;
			height: 5px;
			bottom: 0;
		}

		&::after {
			background-color: #D3E1E6;

			left: 0;
			right: 0;
		}

		&::before {

			max-width: 309px;
			width: 26%;
			background-color: #fff;
			left: 50%;
			height: 6px;
			transform: translateX(-50%);
			z-index: 10;
		}

	}

	&__inner-btn {

		text-transform: uppercase;
		font-size: 17px;

	}

	&__content {
		margin: auto 0;
	}

	&__content-text {
		font-size: 23px;
		line-height: 143%;
		text-align: center;
		letter-spacing: 1.31592px;
		max-width: 142px;
		margin: 0 auto 22px;

	}

	&__content-btn {
		font-size: 19px;
	}
}

.shop-slider {

	width: 80%;

	&__item {
		color: #000;
		position: relative;
		padding-bottom: 20px;

		&::after {
			@extend %content;
			top: 0;
			left: 20px;
			bottom: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}

		&:hover::after {
			background-color: transparent;
			transition: $transition;
		}
	}

	&__img {
		max-width: 350px;
		width: 100%;
		object-fit: cover;
	}

	&__item--center {
		&::after {
			content: none;
		}
	}

	&__info {
		position: absolute;
		bottom: 20px;
		right: 0;
		left: 20px;
		background-color: #fff;

	}

	&__item-name {
		font-size: 23px;

	}

	&__item-price {
		font-size: 14px;
		text-transform: uppercase;
	}
}

.about {
	padding: 100px 0;

	&__inner {
		display: grid;
		grid-template-columns: minmax(400px, 1fr) minmax(300px, 1fr);
		justify-content: center;
		grid-gap: 20px;
	}

	&__video-wrapper {
		position: relative;
	}

	&__video {
		width: 100%;
		height: 585px;
	}

	&__video[poster] {
		object-fit: cover;
		object-position: top;
	}

	&__video-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;

	}

	&__video-icon {
		width: 99px;
		height: 99px;
		object-fit: cover;
	}

	&__video-pause {

		transition: all .3s;

	}

	&__content {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 30px;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	&__text {
		font-size: 28px;
		line-height: 107%;
		letter-spacing: 1.49138px;
		color: #fff;
		max-width: 303px;
		margin-bottom: 15px;
		text-align: center;
	}

	&__btn {
		font-size: 18px;
	}

}

.about-slider {

	padding-bottom: 40px;
	height: 100%;
	display: flex;
	align-items: center;

	&__wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
	}


	&__logo {
		margin: 0 auto 10px;
		margin-bottom: 10px;
		object-fit: cover;
		max-width: 100%;
	}

	&__text {
		max-width: 387px;
		font-size: 33px;
		line-height: 138%;
		margin: 0 auto;
	}

	&__link {
		font-size: 11px;
		line-height: 142%;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #000000;
		padding-bottom: 7px;
		margin: auto auto 10px;
		border-bottom: 1px solid #000;
		display: block;

		&:hover,
		&:focus,
		&:active {
			color: $blue;
			border-bottom: 1px solid $blue;

		}
	}

	.slick-dots {
		display: flex;
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);

		.slick-active {
			background-color: #000000;
		}

		li {
			margin: 0 3px;
			width: 12px;
			height: 12px;
			overflow: hidden;
			font-size: 0;
			border: 1px solid #000000;
			filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));

			&:hover,
			&:focus,
			&:active {
				cursor: pointer;
			}
		}
	}
}


.matters {
	text-align: center;
	padding-top: 60px;
	margin-bottom: 71px;
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;


	&__content {
		padding-bottom: 99px;
		position: relative;
	}

	&__title {
		font-size: 61px;
		line-height: 115%;
		letter-spacing: 4.3px;
		margin-bottom: 17px;
	}

	&__text {
		font-size: 31px;
		line-height: 134%;
		max-width: 592px;
		margin: 0 auto 129px;
	}

	&__btn {
		background-color: $darkBlue;
		color: #fff;
		font-size: 23px;
		line-height: 170%;
		border-radius: 6.25063px;
	}

	&__bg {
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
	}

	&__bg.anim {

		.matters__bottle {
			transform: translate(0);

			&::after,
			&::before {
				transform: translateY(0) rotate(0);
			}
		}

		.matters__pill {

			&::after,
			&::before {
				transform: translateY(0) rotate(0);

			}
		}
	}

	&__bottle {
		position: absolute;
		bottom: 0;
		transform: translateY(-300%);
		transition: all 1s;

		img {
			object-fit: cover;
			width: 100%;

		}

		&::after,
		&::before {
			@extend %content;
			background-repeat: no-repeat;
		}

		&::after {
			background-size: cover;
			transform: translateY(-1000%);
			transition: 1s;

		}

		&::before {
			background-size: contain;
			width: 50px;
			height: 40px;
			z-index: 10;
			transform: translateY(-300%) rotate(-360deg);
			transition: all 1.1s;
		}
	}

	&__bottle--1 {
		left: -100px;
		right: 85%;
		transition-delay: .2s;

		&::after {
			background-image: url(../images/bottle-shadow-1.png);
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 2px;
			transition-delay: .5s;

		}

		&::before {
			background-image: url(../images/pill-1.png);
			top: 0;
			left: 134px;
			transition-delay: 1s;

		}
	}

	&__bottle--2 {
		left: 41%;
		right: 31%;
		transform: translateY(-300%);
		z-index: -1;
		transition-delay: .6s;

		&::after {
			background-image: url(../images/bottle-shadow-2.png);
			background-size: contain;
			width: 100%;
			height: 100%;
			bottom: 0;
			right: 0;
			top: 91px;
			transition-delay: .8s;
			z-index: -2;
		}
	}

	&__bottle--3 {
		right: -40px;
		left: 78%;
		transition-delay: .3s;

		&::after {
			background-image: url(../images/bottle-shadow-3.png);
			width: 100%;
			height: 100%;
			bottom: 91px;
			left: -5px;
			transition-delay: .6s;
			z-index: -1;
		}

		&::before {
			background-image: url(../images/pill-5.png);
			top: -56px;
			left: 142px;
			transition-delay: .5s;
		}
	}

	&__pill {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;

		&::after,
		&::before {
			@extend %content;
			background-size: contain;
			transform: translateY(-3000%) rotate(720deg);
			transition: all 1.5s;
			width: 50px;
			height: 40px;
			z-index: 10;
			background-repeat: no-repeat;
		}

	}

	&__pill--1 {
		&::after {
			background-image: url(../images/pill-2.png);
			bottom: 319px;
			left: 15%;
			transition-delay: .7s;
			transform-origin: right;
		}

		&::before {
			background-image: url(../images/pill-3.png);
			bottom: -5px;
			left: 17%;
			transition-delay: .8s;
		}
	}

	&__pill--2 {
		&::after {
			background-image: url(../images/pill-4.png);
			bottom: 435px;
			left: 76%;
			transition-delay: .2s;
		}

		&::before {
			background-image: url(../images/pill-6.png);
			bottom: 32px;
			left: 87%;
			transition-delay: 1.2s;
		}
	}
}


.how-to {
	padding: 104px 0 0;
	margin-bottom: 137px;
	position: relative;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		width: 50%;
	}

	&__subtitle {
		font-size: 12px;
		line-height: 108%;
		letter-spacing: 2.08354px;
		text-transform: uppercase;
		padding-bottom: 6px;
		border-bottom: 2px solid #f5b4a4;
		display: inline-block;
		margin-bottom: 52px;
	}

	&__title {

		margin-bottom: 100px;
		font-size: 76px;
		line-height: 108%;
		letter-spacing: 5.12236px;
	}

	&__text {
		max-width: 406px;
		padding-left: 40px;

	}

	&__link {
		font-size: 26px;
		line-height: 101%;
		@extend %roboto;
		color: $text;
		margin-left: 40px;
		transition: $transition;

		&:hover,
		&:focus,
		&:active {
			color: $blue;
		}
	}

	&__img-wrapper {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 50%;
	}

	&__img {
		height: 475px;
		width: 100%;
		max-width: 713px;
		object-fit: cover;
		margin-top: auto;
	}
}


.products {
	padding-bottom: 51px;

	&__items {
		display: grid;
		grid-template-columns: repeat(3, minmax(250px, 430px));
		grid-gap: 20px;
		justify-content: space-between;
		margin-bottom: 69px;
	}

	&__item {
		position: relative;

	}

	&__img-link {
		display: inline-block;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__label {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 10;

	}

	&__label-text {
		font-size: 14px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 5.20886px;
		color: $text;
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: 0 10px;
	}

	&__title {
		font-size: 19px;
		text-transform: capitalize;
		margin-bottom: 2px;
	}

	&__subtitle {
		font-size: 14px;
		color: #AAAAAA;
	}

	&__info {
		margin-bottom: 5px;
	}

	&__info-rating,
	&__info-reviews {
		font-size: 12px;
		color: $text;
		@extend %roboto;
		transition: $transition;

		&:hover,
		&:focus,
		&:active {
			color: $blue;
		}
	}

	&__info-reviews {
		margin-left: 17px;
	}

	&__colors {
		display: flex;
		margin-bottom: 5px;

	}

	&__colors-item {
		display: flex;
		width: 22px;
		height: 22px;
		border-radius: 32px;
		margin-right: 5px;
		border: 2px solid transparent;
		transition: $transition;
		cursor: pointer;
	}

	&__colors-item.active {
		border: 2px solid rgba($blue, .3);
	}

	&__rating {
		background-image: url(../images/icons/star.svg);
		background-repeat: no-repeat;
		max-width: 78px;
		display: inline-block;
		width: 100%;
		height: 20px;
		position: relative;

	}

	&__rating-item {
		@extend %content;
		top: 0;
		left: 0;
		bottom: 0;
		background-image: url(../images/icons/star-rating.svg);
		background-repeat: no-repeat;
		height: 20px;

	}

	&__price {
		text-align: right;
		grid-column: 2/3;
		grid-row: 1/5;
		ruby-span: 2;
	}

	&__price-current {
		font-size: 19px;
		color: #0038D2;
	}

	&__price-old {
		font-size: 16px;
	}

	&__more {
		margin: 0 auto;
		font-size: 22px;
		display: block;

	}
}

.started {
	background-color: #D3E1E6;
	padding-bottom: 180px;

	&__content {
		text-align: center;
		max-width: 509px;
		margin: 0 auto;
		transform: translateY(-50px);
	}

	&__img {
		width: 100%;
		object-fit: cover;
	}

	&__title {

		font-size: 55px;
		line-height: 80%;
		letter-spacing: 2.74151px;
		margin-bottom: 65px;
	}

	&__text {
		font-size: 25px;
		line-height: 126%;
		margin-bottom: 28px;
	}

	&__btn {

		margin-bottom: 45px;
	}

	&__descr {
		font-size: 12px;
		line-height: 143%;
		letter-spacing: 2.08354px;
		text-transform: uppercase;
	}
}

.toothpaste {
	position: relative;
	background-color: #FDF8F5;
	transform: translateY(-80px);
	padding: 80px 0 40px;
	margin-top: 80px;
	text-align: center;

	&::after {
		@extend %content;
		background-image: url(../images/sub-decor.svg);
		background-size: cover;
		width: 100%;
		height: 172px;
		top: -85px;
		right: 0;
		left: 0;
		z-index: -1;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 300px));
		grid-gap: 20px;
		justify-content: space-around;
	}

	&__item {
		padding-top: 79px;
		position: relative;

		&::after {
			@extend %content;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-repeat: no-repeat;
			height: 80px;
		}
	}

	&__item--1::after {
		background-image: url(../images/icons/sub-shoose.png);
		width: 95px;
	}

	&__item--2::after {
		background-image: url(../images/icons/sub-refil.png);
		width: 121px;

	}

	&__item--3::after {
		background-image: url(../images/icons/sub-pause.png);
		width: 51px;
	}

	&__item-title {
		font-size: 23px;
		line-height: 114%;
		margin-bottom: 10px;
	}

	&__item-text {
		font-size: 11px;
		line-height: 224%;
	}

	&__img {
		margin: 0 auto;
		display: block;
	}


	&__title {
		font-size: 70px;
		line-height: 157%;
		letter-spacing: 5.48301px;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 23px;
		line-height: 172%;
		letter-spacing: 1.31592px;
		max-width: 676px;
		margin: 0 auto 8px;
	}

	&__link {
		font-size: 24px;
		line-height: 164%;
		@extend %roboto;
		color: #324477;
		position: relative;

		&:after {
			@extend %content;
			width: 0;
			height: 2px;
			background-color: #324477;
			bottom: 0;
			right: 50%;
			left: 50%;
		}

		&:hover::after {
			right: 0;
			left: 0;
			width: 100%;
			transition: all .5s;
		}
	}
}

.reviews {

	padding: 60px 0;

	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		justify-self: space-between;
	}

	&__content {
		padding: 0 52px;
		max-width: 563px;
	}

	&__title {
		font-size: 56px;
		line-height: 94%;
		letter-spacing: 3.28981px;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 24px;
		line-height: 206%;
		letter-spacing: 1.31592px;
		margin-bottom: 42px;

	}

	&__link {
		font-size: 22px;
		line-height: 179%;
		color: #0038D2;
		@extend %roboto;
		position: relative;

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background-color: #0038D2;
			bottom: -5px;
			right: 0;
			left: 0;
			transform: translateY(-10px);
			opacity: 0;
		}

		&:hover::after {
			opacity: 1;
			transform: translateY(0);
			transition: all .5s;
		}
	}
}

.reviews-slider {
	max-width: 540px;
	margin: auto 0;
	position: relative;

	.slick-arrow {
		font-size: 0;
		width: 50px;
		height: 50px;
		background-color: #FFFFFF;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		border-radius: 50px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		transition: transform .5s;
	}

	.slick-prev {
		left: 0;

		&:hover,
		&:focus,
		&:active {
			transform: translateX(-5px) translateY(-50%);
		}
	}

	.slick-next {
		right: 0;

		&:hover,
		&:focus,
		&:active {
			transform: translateX(5px) translateY(-50%);
		}
	}


	&__item {
		text-align: center;
		color: #415286;

	}

	&__content {
		max-width: 334px;
		margin: 0 auto;
		padding: 0 40px;
	}

	&__title {
		font-size: 15px;
		line-height: 219%;
		max-width: 234px;
		margin: 0 auto;
	}

	&__text {
		font-size: 21px;
		line-height: 157%;
		margin-bottom: 56px;


	}

	&__descr {
		font-size: 12px;
		line-height: 178%;
		text-transform: uppercase;
		color: #000;
	}
}

.footer {
	background-color: #FDF8F5;
	padding: 30px 0 104px;

	&__content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		margin: 20px 0 52px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 20px;
		margin: 20px 0 52px;
		justify-content: space-between;
	}

	&__dropdown-item--press {
		font-size: 21px;
		line-height: 149%;
	}

	&__list-title {
		font-size: 23px;
		line-height: 149%;
		margin-bottom: 11px;
		position: relative;
		display: inline;
		@extend %roboto;

		&::after {
			@extend %content;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
			background: url(../images/icons/arrow.svg) no-repeat;
			width: 12px;
			height: 6px;
			display: none;
		}

	}

	&__list-link {
		color: $text;
		transition: all .2s;
		font-size: 23px;
		margin-bottom: 5px;
		@extend %roboto;

		&:hover,
		&:focus,
		&:active {
			color: $blue;

		}
	}

	&__list-item.closed.show {
		.footer__list-title::after {
			transform: translateY(-50%) rotate(0deg);
		}
	}

	&__dropdown-link {
		color: #6C77B5;
		transition: all .2s;
		font-size: 18px;
		margin-bottom: 5px;

		&:hover,
		&:focus,
		&:active {
			color: $blue;

		}
	}

	&__dropdown-text {
		font-size: 18px;
	}

	&__dropdown-email {
		font-size: 14px;
		line-height: 149%;

	}


	&-copyright {
		text-align: center;
	}

	&-copyright__img {
		margin: 0 auto 20px;
		transform: translateX(-60px);
	}

	&-copyright__text-link {
		font-size: 19px;
		line-height: 164%;
		color: #6C77B5;
		margin-bottom: 10px;
	}

	&-copyright__text {
		font-size: 19px;
	}

	&-copyright__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}

	&-copyright__item {
		margin: 0 21px;
	}

	&-copyright__link {
		font-size: 14px;
		line-height: 176%;
		color: #6C77B5;
		transition: all .2s;
		@extend %roboto;

		&:hover,
		&:focus,
		&:active {
			color: $blue;
		}
	}
}


@import "media";