html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;

}



* {
	box-sizing: border-box;
}


body {

	overflow-X: hidden;
	@extend %roboto;
	font-size: 26px;
	line-height: 101%;
	color: $text;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	display: inline-block;
	transition: all .2s;

}

p {
	padding: 0;
	margin: 0;

}

figure {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1405px;
	padding: 0 15px;
	margin: 0 auto;

}


button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;

}

.logo {
	&__img {
		width: 70px;
		object-fit: cover;
	}
}

.btn {
	display: inline-block;
	width: auto;
	cursor: pointer;
	transition: $transition;
}

.btn-color {
	background-color: $blue;
	border-radius: 50px;
	color: #fff;
	padding: 12px 35px;

	&:hover,
	&:focus,
	&:active {
		background-color: darken($blue, 10%);
	}
}

.btn-white {
	background-color: #fff;
	color: $darkBlue;
	padding: 12px 25px;
	border: 3px solid $darkBlue;
	border-radius: 100px;
	transition: $transition;

	&:hover,
	&:focus,
	&:active {

		background-color: $blue;
		color: #fff;
	}
}