@keyframes rotate-right {
	0% {
		transform: translateY(-3000%) rotate(720deg);
		top: -50px;
	}



	100% {
		top: auto;
		transform: translateY(0) rotate(0deg);
	}
}

@keyframes rotate-left {
	0% {
		transform: translateY(-3000%) rotate(-720deg);
		top: -50px;
	}



	100% {
		transform: translateY(0) rotate(0deg);
		top: auto;
	}
}

@keyframes color {
	0% {
		color: $text;


	}



	50% {
		color: $blue;
	}

	100% {
		color: $text;


	}
}